*.swp
*.swo
*~
.DS_Store
charts/*/charts/
charts/*/Chart.lock
helm/nico-cloud/charts/
helm/nico-cloud/Chart.lock
helm/nico-site/charts/
helm/nico-site/Chart.lock
helm/nico-temporal/charts/
helm/nico-temporal/Chart.lock
helm/infra-cloud/charts/
helm/infra-site/charts/
*kubeconfig*
/openshift_pull.json
/cluster/kubeadmin-password.*
/cluster/static_net.yaml
/cluster/virt-install.log
.idea
*.tgz
